@page "/"

@inject HttpClient httpClient;
@inject ILogger<HomePage> logger;

<PageTitle>eco.Trails</PageTitle>

@if (_trails is null)
{
	<p>Loading trails...</p>
}
else
{
	<TrailDetails Trail="_selectedTrail" />
	<div class="grid">
		@foreach (var trail in _trails)
		{
			<TrailCard Trail="trail" OnSelected="HandleTrailSelected"/>
		}
	</div>
}

@code
{
	private IEnumerable<Trail>? _trails;
	private Trail? _selectedTrail;

	protected override async Task OnInitializedAsync()
	{
		try
		{
			_trails = await httpClient.GetFromJsonAsync<IEnumerable<Trail>>("trails/trail-data.json");
		}
		catch (HttpRequestException ex)
		{
			//TODO
			logger.LogError(ex, "An error occured");
		}
	}

	private void HandleTrailSelected(Trail trail) =>
		_selectedTrail = trail;
}
